/* font family, 그냥 아래를 기본으로 가져가면 ok, 없으면 이 폰트, 없으면 이거, 그래도 없으면 이거. 이런식임
google font 에서 사용한 포트의 값을 @import해서 추가 가능
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "reset.css";
@import "status-bar.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'sans-serif', 'Helvetica Neue', sans-serif
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 40px;
    font-size: 25px;
}

.welcome-header__text {
    width:60%;
    opacity: 0.7;
    /* 투명도 */
}